# Git
.git
.gitignore
.gitattributes

# Docker
docker-compose.yml
Dockerfile
.docker
.dockerignore

# Virtual environment
.env
.venv/
venv/

# PyCharm
.idea

# VS Code
.vscode/

# From project
fischercam_images
images_before_scaling
sampled_images
scaled_images
image_sampling_service.py
image_scaler_service.py

test_script.py
storage_detection_model/datasets
storage_detection_model/runs/detect/train*
!storage_detection_model/runs/detect/train5/weights
