/*#region GENERAL STYLING*/
.base-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.smui-button {
  padding: 10px;
  border-radius: 100px;
  background-color: var(--secondaryColor);
  border: 2px solid var(--secondaryColor);
  cursor: pointer;
  color: #fff;
  font-size: 12px;
}

.smui-button:hover {
  background-color: var(--buttonHoverColor);
}
/*#endregion*/

/*#region NAVIGATION SIDEBAR*/
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 4em;
  transition: width 0.3s;
  background-color: var(--mainColor);
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
}

.navbar.expanded {
  width: 10em;
}

.navbar li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar li button {
  width: 100%;
  border: none;
  outline: none;
  padding: 15px;
  background-color: inherit;
  cursor: pointer;
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: bold;
}

.navbar li button:hover {
  background-color: var(--secondaryColor);
}

.navbar li:last-child {
  margin-top: auto;
  margin-bottom: 1em;
}

.navbar li:last-child button:hover {
  background-color: inherit;
}

.side-menu-button-content {
  display: flex;
  flex-direction: row;
  align-items: center;

  p {
    margin: 0px;
    padding: 0px;
    margin-left: 20px;
  }
}
/*#endregion*/

/*#region HOME PAGE*/

.home-main-container {
  width: 100%;
  margin: 0;
  padding: 1.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.camera-control{
  display: flex;
  flex-direction: column;
  background-color: var(--mainColor);
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin:1em;
}

.camera-control-label{
  text-align: center;
  color:#fff;
  margin: 0;
}

/*#endregion*/

/*#region SETTINGS PAGE*/

.settings-main-container {
  width: 100%;
  margin: 0;
  padding: 10px;
}
/*#endregion*/
