.process-overview-container {
  background-color: var(--mainColor);
  border-radius: 15px;
  padding: 1em;
  margin: 1em;
  height: fit-content;
  position: relative;
}

.overview-circular-container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  background-color: transparent;
  position: relative;
  z-index: 2;
}

.circle {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 225px;
  height: 190px;
  border: 2px solid var(--defaultStateColor);
  border-radius: 50%;
  outline: 2px solid var(--defaultStateColor);
  outline-offset: 8px;
  z-index: 1;
}

.overview-step-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.step-item-icon {
  border: 2px solid var(--defaultStateColor);
  color: var(--defaultStateColor);
  padding: 16px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mainColor);
}

.step-item-label {
  font-size: 0.7em;
  color: var(--defaultStateColor);
  margin: 2px;
}

#step-item-0 {
  grid-area: 3 / 2 / 3 / 2;
}

#step-item-1 {
  grid-area: 2 / 1 / 2 / 1;
}

#step-item-2 {
  grid-area: 1 / 2 / 1 / 2;
}

#step-item-3 {
  grid-area: 2 / 3 / 2 / 3;
}

#step-item-4 {
  grid-area: 2 / 2 / 2 / 2;
}
