.process-overview-container {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px;
  align-items: center;
}

.processes {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: var(--mainColor);
}

.progress-arrow {
  background-color: var(--mainColor);
  width: 100%;
  height: 10px;
  display: flex;
  align-items: center;
}
